In [2]:
#  strip, k.lstrip, .rstrip --> use len
name1 = "       aqeel       "
len(name1)

19

In [4]:
name1.strip()

'aqeel'

In [10]:
print(len(name1))
name1 = name1.rstrip()
name1 = name1.lstrip()
name1

5

'aqeel'

In [6]:
name1 = name1.rstrip()

In [7]:
name1 = name1.lstrip()

In [9]:
name1

'aqeel'

In [16]:
p = "i love pakistan. i live in pakistan" # split into list
n = p.split()
print(n)
o = p.split('i')
print(o)

['i', 'love', 'pakistan.', 'i', 'live', 'in', 'pakistan']
['', ' love pak', 'stan. ', ' l', 've ', 'n pak', 'stan']

In [ ]:
p = "i love pakistan. ki live in pakistan" # split into list
n = p.split()
print(n)

In [17]:
# join using.
k = ' '
print(k.join(n))

i love pakistan. i live in pakistan

In [19]:
# card multi-line str
card ='''
Student Name: aqeel
batch:3
Center: bahria uni
'''
print(card)

Student Name: aqeel
batch:3
Center: bahria uni

In [25]:
name = 'nome'
batch = '3'
center = 'baharia uni'
# uning % and %s and \ for long lines .... interger k lia %d write krain gay  .... \ backslash line lambi ho jye to 
print("student name: %s \nbatch: %s\n center; %s" %(name,batch,center)) # enter kr k hm backslash use krin gy

student name: nome
batch: 3
 center; baharia uni

In [36]:
name = 'nome'
batch = '3'
center = 'baharia uni'
quiz_percentage = 90
print("student name: %s \nbatch: %s \n center: %s \n quiz_percentage: %d "%(name,batch,center,quiz_percentage))

student name: nome
batch: 3
 center: baharia uni
 quiz_percentage: 90

In [41]:
print("student name: {}\nbatch: {}\ncenter: {}\nquiz_percentage".format(name,batch,enter,quiz_percentage)

SyntaxError: unexpected EOF while parsing (<ipython-input-41-96387aba6ef5>, line 1)

In [ ]:
types of operator 
1 arithmetic operators 
2 comparision (relational0)operators 3 assignment operators
4 Assignment operators
5 logical operator

In [44]:

3 + 4 addition operator

7

In [46]:
0.3 + 4

4.3

In [47]:
"A" + "B"

'AB'

In [48]:
3 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
["first", "second"] + ["third","forth"]

['first', 'second', 'third', 'forth']

In [50]:
("first", "second") + ("third","forth") # at here we use tuple { in donu ko mila kr extend kr day ga}

('first', 'second', 'third', 'forth')

In [51]:
{1,2,3} + {4,5}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [52]:
{1:A,2:B,3:D,} + {4,5}

NameError: name 'A' is not defined

In [53]:
3*2

6

In [54]:
3*0.3

0.8999999999999999

In [58]:
'Abc' * 3

'AbcAbcAbc'

In [56]:
['A', 'B'] * 4

['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']

In [59]:
('A', 'B') * 4

('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [60]:
{'A', 'B'} * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [62]:
 {1 :'A', 2 :'B'] * 4

SyntaxError: invalid syntax (<ipython-input-62-b308dd659460>, line 1)

In [63]:
12-2

10

In [64]:
['first','second'] - [ 'third','forth']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [65]:
{7,8,9} - {6,8,10}

{7, 9}

In [66]:
12/3

4.0

In [67]:
12//3

4

In [68]:
99/10

9.9

In [69]:
99//10  # floor division at here is called floor division

9

In [70]:
10/3

3.3333333333333335

In [71]:
15 //12

1

In [72]:
15 %12 #at here % operator is called modulu operator

3

In [73]:
2 ** 3   # 2x2x2= is called 8

8

In [74]:
'abc' ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# relational operators

In [75]:
a = 5       # comparison k lia hm == ka use krtay hn in ka asn true or false aye ga
a

5

In [76]:
5 == 4

False

In [77]:
6==6

True

In [ ]:
> greater than
< less then

In [78]:
4 > 1

True

5 < 4

In [79]:
5<1

False

In [80]:
5 >=0

True

In [81]:
4 >=4

True

In [82]:
3 <= 10

True

In [83]:
15<=10

False

In [84]:
"A"> "B"

False

# ASCII stands for American standard code for information interchange

In [85]:
ord("A")

65

In [86]:
ord("Z")

90

In [87]:
ord("a")

97

In [88]:
ord("z")

122

In [89]:
ord("0")

48

In [90]:
ord("9")

57

In [91]:
chr(66)

'B'

In [92]:
chr("z")

TypeError: an integer is required (got type str)

In [93]:
'Shadaz' == 'shadaz'

False

In [94]:
'Aqeel' <>  'aqeel    #    { != is use for (not equal)}

SyntaxError: invalid syntax (<ipython-input-94-400fbe05b7b4>, line 1)

# Assignment operators

In [96]:
a = 1    # over write kray ga privious value ko
a = 3
a = 10 
print(a)

10

In [98]:
a = 1 
a += 2     # a =a +2
a += 5     # a = a+5
a += 5     # a=a +2
print(a)

13

In [100]:
a= 1
a *=2
a *=3
a *=5
print(a)

30

In [101]:
a = 10
a -= 3
a -=2
a -=1
print(a)

4

In [102]:
a =100
a/=2
a/=5
a/=4
print(a)

2.5

In [103]:
a = 100
a//=2
a//=5
a//=4
print(a)

2

In [104]:
a=21
a%=12
print(a)

9

In [105]:
a=2
a**=2
a**=3
print(a)

64

In [106]:
a = ['a','b','c']
a +=['x','y','z']
print(a)

['a', 'b', 'c', 'x', 'y', 'z']

# logical operators

In [ ]:
and    # is k lia sari conditions Ture honi chiyea

In [108]:
True and True and True and True

True

In [109]:
True and True and False and True

False

In [110]:
True or False or True or False or False

True

In [114]:
False or False or False or False

False

In [115]:
not (False)

True

In [116]:
not (True)

False

In [125]:
name = 'A'
email = 'SB'
number = 'C'
password = 's123'
(name =='A' or  email == 'B' or number == 'C') and password == '123'

False

# membership operators

In [126]:

a = 'I am Aqeel baig and live in Islamabad'
'Islamabad'in a

True

In [143]:
a= ['A','B','C','D']
i = 0
while i < len(a):
    if a[i] =='C':
        print(True)
        break
    i +=1

True

In [144]:
'C'in a

True