In [2]:
a = 11
# a is variable name (identifier)
# = assignment operator
# 11 value (integer value

In [3]:
print(a)

11

In [5]:
a = 11.5
print (a)

11.5

In [13]:
ful_name = "aqeel"
roll_no = "piaic69642"
course = "Aic"
city = "islamabad"
center = "bahria university auditorium"
campus = "main campus"
quarter = "q1"
batch = "3"
print (ful_name)
print (roll_no)
print (course)
print (city)
print (center)
print (campus)
print (quarter)
print (batch)

aqeel
piaic69642
Aic
islamabad
bahria university auditorium
main campus
q1
3

In [ ]:
# Operator {+ , - , * , / }

In [14]:
print (5+5)

10

In [15]:
print (10-5)

5

In [17]:
a = 22
b = 44
print (a+b)

66

In [19]:
a = 22
b = 44
c = a+b
print (c)

66

In [21]:
value1 = 77
value2 = 3.3
sum = value2 - value1
print (sum)

-73.7

In [23]:
value1 = 77
value2 = 3.3
sum = value2 * value1
print (sum)

254.1

In [24]:
value1 = 77
value2 = 3.3
sum = value2 / value1 #python by defult floating point value answer with single /
print (sum)

0.04285714285714286

In [29]:
value1 = 77
value2 = 3.3
sum = value2// value1 # integar division with double // 
print (sum)

0.0

In [30]:
a = 1000
b = 2000
if a<b:
    print ("a is less then b") # here if condition give output on that condition if condition is true. on the other side if condition is false then output is not printed .
    print ("hello world")   # here also we studied blog and indent
    print ("hello pakistan")

a is less then b
hello world
hello pakistan